html * {
  font-family: Roboto
}

/* @media screen and (min-width: 800px) {
  body {
    margin: auto;
    width: 60%
  }
} */

a.ui-link:visited {
  color: #1976d2;
}

a.ui-link {
  color: #1976d2;
  text-decoration: none
}

a.ui-link:hover {
  text-decoration: underline
}
